* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
 
  line-height: 1.5;
  font-size: 16px;
}

.set {
    width: 300px;
}

.packImage {
    height: 430px;
}

#h1 {
  position: relative;
  display: flex;
  justify-content: center;
}